Repository ViktorZhurbin/mega-market: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix"
  ],
  "*.{js,ts,jsx,tsx,json,md}": [
    "prettier --write"
  ],
  "*.css": "stylelint --fix"
}

♻️ refactor cart api
  src/contexts/Cart.tsx
  src/hooks/useData.ts
  src/modules/cart/services/cart.ts
  src/pages/api/cart/[userId].ts
  src/pages/api/cart/add.ts
  src/pages/api/cart/clear.ts
  src/pages/api/cart/deleteOne.ts
  src/pages/api/cart/updateQty.ts
  src/pages/api/checkout/session.ts
  src/pages/api/products/index.ts
  src/typings/ApiResponse.ts
Due: eslint --fix, prettier --write

🚚 move db models
  src/db/models/Account.ts
  src/db/models/Cart.ts
  src/db/models/Order.ts
  src/db/models/Product.ts
  src/db/models/User.ts
  src/db/models/index.ts
  src/modules/cart/models/index.ts
  src/modules/product/models/index.ts
  src/modules/user/models/index.ts
  src/pages/api/admin/products/[id].ts
  src/pages/api/admin/products/index.ts
  src/pages/api/products/index.ts
  src/pages/index.tsx
  src/pages/product/[id].tsx
  src/typings/index.ts
  src/utils/api/db/initDb.ts
  src/utils/api/middleware/user.ts
  src/utils/api/middleware/withCart.ts
Due: eslint --fix, prettier --write

💄 nav styles
  src/components/Nav/Nav.module.css
  src/components/Nav/Nav.tsx
Due: eslint --fix, prettier --write, stylelint --fix

♻️ refactor profile
  src/modules/admin/components/ControlButtons/ControlButtons.tsx
  src/modules/profile/components/User/User.tsx
  src/modules/profile/pages/Profile/Profile.tsx
Due: eslint --fix, prettier --write

🎨 sticky checkout btn
  src/modules/cart/components/Cart/Cart.tsx
  src/modules/cart/components/CheckoutButton/CheckoutButton.tsx
  src/modules/cart/components/CheckoutButton/index.ts
  src/modules/cart/pages/Cart/Cart.tsx
Due: eslint --fix, prettier --write

✨ split add to cart button
  src/modules/cart/components/CartButton/CartButton.tsx
  src/modules/product/components/AddToCartButton/AddToCartButton.module.css
  src/modules/product/components/AddToCartButton/AddToCartButton.tsx
  src/modules/product/components/AddToCartButton/index.ts
  src/modules/product/pages/Product/Product.tsx
Due: eslint --fix, prettier --write, stylelint --fix

🎨 format Input
  src/components/Input/Input.tsx
Due: eslint --fix, prettier --write

🔥 remove unused code
  src/components/EditableText/EditableText.module.css
  src/components/EditableText/EditableText.tsx
  src/components/EditableText/index.ts
  src/components/Input/Input.tsx
  src/components/TextArea/TextArea.tsx
Due: eslint --fix, prettier --write, stylelint --fix

🔧 update tsconfig targer
  tsconfig.json
Due: prettier --write

♻️ refactor AddProductForm
  src/components/Input/Input.tsx
  src/modules/admin/components/AddProductForm/AddProductForm.tsx
  src/modules/admin/components/AddProductForm/formReducer.ts
  src/modules/cart/components/CartItem/CartItem.tsx
Due: eslint --fix, prettier --write

🏷️ update types
  src/hooks/useData.ts
  src/modules/cart/typings/Cart.ts
  src/modules/product/typings/Product.ts
  src/modules/user/typings/Account.ts
  src/modules/user/typings/User.ts
  src/utils/api/middleware/withCart.ts
Due: eslint --fix, prettier --write

♻️ memoize context value
  src/contexts/Cart.tsx
Due: eslint --fix, prettier --write
